{% set obCartElementList = Cart.get() %}
{% if obCartElementList.isNotEmpty() %}
<div class="flex flex-row flex-nowrap">
    <div class="flex-none" style="width: 2rem"></div>
    <div class="flex-1">Name</div>
    <div class="flex-none" style="width: 10rem">Quantity</div>
    <div class="flex-none text-right" style="width: 10rem">Price</div>
</div>
<div class="border border-gray-300 my-2"></div>
{% for obCartElement in obCartElementList %}
<div class="cart-item flex flex-row flex-nowrap">
    {% set obOffer = obCartElement.offer %}
    <div class="flex-none" style="width: 2rem;">
	<i class="cart-delete fas fa-times actionable text-gray-500" data-offerid="{{ obOffer.id }}"></i>
    </div>
    <div class="flex-1">{{ obOffer.product.name }}</div>
    <div class="flex-none pr-4" style="width: 10rem">
	<div class="form-control">
	    <input class="cart-update" type="number" value="{{ obCartElement.quantity }}" min="1" data-offerid="{{ obOffer.id}}">
	</div>
    </div>
    <div class="flex-none text-right" style="width: 10rem">{{ obCartElementList.getCurrency() }}{{ obCartElement.price_value|number_format(2) }}</div>
</div>
<div class="border border-gray-300 my-2"></div>
{% endfor %}

<div class="text-right">Total price: {{ obCartElementList.getCurrency() }}{{ obCartElementList.getTotalPriceValue()|number_format(2) }}</div>
{% else %}
<div>Cart is empty</div>
{% endif %}
