{% set obBasket = Basket.get() %}
{% set obBasketItems = obBasket.items %}
{% if obBasketItems.isNotEmpty() %}
<div class="flex flex-row flex-nowrap">
    <div class="flex-none" style="width: 2rem"></div>
    <div class="flex-1">Name</div>
    <div class="flex-none" style="width: 10rem">Quantity</div>
    <div class="flex-none text-right" style="width: 10rem">Price</div>
</div>

<div class="border border-gray-300 my-2"></div>
{% for obBasketItem in obBasketItems %}
<div class="basket-item flex flex-row flex-nowrap">
    <div class="flex-none" style="width: 2rem;">
	<i class="basket-delete fas fa-times actionable text-gray-500"
	   data-basketitemid="{{ obBasketItem.id }}"></i>
    </div>
    <div class="flex-1">
	<div>
	    {{ obBasketItem.product.name }}
	</div>
	<div class="text-sm text-gray-600">
	    {% for option in obBasketItem.propertyOptions %}
	    {{ option.name }}{% if not loop.last %}, {% endif %}
	    {% endfor %}
	</div>

    </div>
    <div class="flex-none pr-4" style="width: 10rem">
	<div class="form-control">
	    <input class="basket-update"
		   type="number"
		   value="{{ obBasketItem.quantity }}"
		   min="1"
		   data-basketitemid="{{ obBasketItem.id}}">
	</div>
    </div>
    <div class="flex-none text-right {{ obBasketItem.isDiscounted ? 'text-green-500' : '' }}" style="width: 10rem">
	${{ (Basket.getItemPriceWithOptions(obBasketItem)*obBasketItem.quantity)|number_format(2) }}</div>
</div>
<div class="border border-gray-300 my-2"></div>
{% endfor %}

<div class="text-right">
    Subtotal: ${{ Basket.getBasketSubtotal()|number_format(2) }}
</div>
{% else %}
<div>Cart is empty</div>
{% endif %}
