ul.carousel {
    width: 100%;
    aspect-ratio: 16/9;
    padding: 9px 16px;
    display: flex;
    gap: 4%;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    anchor-name: --myCarousel;
    scroll-marker-group: after;
    scroll-behavior: smooth;
}

ul.carousel > li {
    list-style-type: none;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 20px;
    flex: 0 0 100%;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.carousel > li:nth-child(even) {
}
ul.carousel > li > img {
}
ul.carousel::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    background: none;
    color: rgb(0 0 0 / 0.7);
    cursor: pointer;
    position: absolute;
    position-anchor: --myCarousel;
}
ul.carousel::scroll-button(*):hover,
ul.carousel::scroll-button(*):focus {
    color: rgb(0 0 0/ 1);
}
ul.carousel::scroll-button(*):active {
    translate: 1px 1px;
}
ul.carousel::scroll-button(*):disabled {
    color: rgb(0 0 0 / 0.2);
    cursor: unset;
}
ul.carousel::scroll-button(left) {
    content: "◄";
    left: calc(anchor(left) - 20px);
    top: calc(anchor(top) + (anchor-size(--myCarousel height) / 2));
}
ul.carousel::scroll-button(right) {
    content: "►";
    right: calc(anchor(right) - 20px);
    top: calc(anchor(top) + (anchor-size(--myCarousel height) / 2));
}

ul::scroll-marker-group {
    position: absolute;
    position-anchor: --myCarousel;
    top: calc(anchor(bottom) - 70px);
    justify-self: anchor-center;

    display: flex;
    justify-content: center;
    gap: 20px;
}

ul.carousel > li::scroll-marker {
    content: "";
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid #444;
    border-radius: 50%;
}
ul.carousel > li::scroll-marker:target-current {
    background-color: black;
}
