.form-control {
    @apply w-full;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 8px;
}

.form-control > input,
.form-control > textarea {
    @apply w-full;
    outline: none;
}

.form-control > select {
    @apply w-full;
    outline: none;
}

button, .btn {
    background-color: #ebbc58;
    border-radius: 4px;
    color: #000;
    padding: 4px 8px;
}

:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.btn-lg {
    padding: 8px 16px
}
