
.shopping-cart-pill-container {
    @apply fixed inset-x-0 bottom-0
}

.shopping-cart-pill {
    @apply flex;
    @apply px-4 py-2;
    @apply bg-black;
    @apply text-white;
    @apply z-50;
    margin: 0;
}

.shopping-cart-pill > div {
    @apply flex-1;
}

.shopping-cart-pill > div:last-child {
    @apply text-right;
}

@media screen and (min-width: 768px) {
    body {
	padding-bottom: 0;
    }

    .shopping-cart-pill-container {
	@apply fixed left-auto bottom-auto;
	right: 70px;
	top: 12px;
    }
    .shopping-cart-pill {
	@apply rounded-full;
	min-width: 240px;
    }
}
