#page .static-container {
    margin: 0 auto;
    max-width: 640px;
    width: 66%;
}

.static-container h1 {
    font-size: 2rem;
    line-height: 50px;
    margin-bottom: 11px;
    padding-top: 14px;
}

.static-container h2 {
    font-size: 1.5rem;
    line-height: 25px;
    margin-bottom: 21px;
    padding-top: 4px;
}

.static-container h3 {
    font-size: 1.3rem;
    line-height: 25px;
    margin-bottom: 20px;
    padding-top: 5px;
}

.static-container h4 {
    font-size: 1.3rem;
    line-height: 25px;
    margin-bottom: 20px;
    padding-top: 5px;
}

.static-container p {
    line-height: 25px;
    margin-bottom: 18px;
    padding-top: 7px;
}

.static-container hr {
    margin-bottom: 24px;
}

.static-container p img {
    margin: 0 auto;
}

.static-container ol {
    @apply list-decimal list-inside;
    padding-left: 1rem;
}

.static-container ol li {
    line-height: 25px;
}

.static-container ol li:first-child {
    padding-top: 7px;
}

.static-container ol li:last-child {
    margin-bottom: 18px;
}

.static-container ul {
    @apply list-disc list-inside;
}

.static-container ul li {
    line-height: 25px;
}

.static-container ul li:first-child {
    padding-top: 7px;
}

.static-container ul li:last-child {
    margin-bottom: 18px;
}

.static-container a {
    color: #6DC9CC;
}

.static-container blockquote {
    border-left: 10px solid #6DC9CC;
    font-style: italic;
    padding: 25px 25px 0;
}

.static-container blockquote p:last-child {
    padding-bottom: 25px;
}
