body {
    @apply font-sans;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
}

.actionable {
    transition: all .3s ease-in-out;
}

.actionable:hover {
    opacity: .6;
    cursor: pointer;
}

#header {
    padding-bottom: 25px;
}

#footer {
    height: 0;
}

#free-shipping-mobile {
    background-color: #6DC9CC;
}
#free-shipping-desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    #free-shipping-mobile {
	display: none;
    }
    #free-shipping-desktop {
	//background-color: #6DC9CC;
	background-color: #EABB60;
	font-size: 1.4rem;
	display: block;
	//left: 50px;
	position: absolute;
	top: 212px;
	text-align: center;
	//transform: translateY(50%) translateX(-50%) rotate(-45deg);
	transform: translate(-28px, -28px) rotate(-45deg);
	transform-origin: top left;
	padding: 4px 32px;
	width: 300px;
    }
}
