title = "Category Page"
url = "/category-page/:slug"
layout = "default"
is_hidden = 0

[CategoryItem]
slug = "{{ :slug }}"

[ProductList]

[Breadcrumbs]
==
{# Get category item #}
{% set obCategory = CategoryItem.get() %}

{#
{% set arBreadcrumbs = Breadcrumbs.getFromCategory(obCategory) %}
{% if arBreadcrumbs|length > 0 %}
<div class="w-11/12 mx-auto">
<ul>
    <li class="inline-block"><a href="{{ 'shop'|page }}">Shop</a> >> </li>
    {% for arItem in arBreadcrumbs %}
    <li class="inline-block" data-id="{{ arItem.id }}" class="{% if arItem.active %} _active {% endif %}">
	{% if not loop.last %}
	<a href="{{ 'category-page'|page({slug: arItem.slug}) }}">{{ arItem.name }}</a>
	>>
	{% else %}
	{{ arItem.name }}
	{% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
#}

{% if obCategory.subcategories.isNotEmpty() %}
<h2>Subcategories</h2>
{% partial 'catalog/categories' categories=obCategory.subcategories %}
{% endif %}

{% if obCategory.nestedCount > 0 %}
<div>{{ obCategory.description|raw }}</div>
{% partial 'catalog/products' category=obCategory %}
{% endif %}

</div>
