title = "Checkout"
url = "/checkout"
layout = "basic"
is_hidden = 0

[Basket]

[Order]
==
<h1 class="text-center">Checkout</h1>
<div class="flex flex-wrap">
    <div class="w-full md:w-1/2 p-2">

	<div id="get-email" class="card border bg-white p-6 m-4">
	    <div class="card-title py-2">
		<span class="text-lg font-bold">1. Your Email</span>
		<span class="float-right text-sm text-gray-500 hidden edit-button actionable">Edit</span>
	    </div>
	    <div class="card-body-form py-2 font-sans">
		<form>
		    <div class="form-control">
			<input type="email" id="email" autocomplete="email">
		    </div>
		    <div class="text-gray-600 text-xs">
			You'll receive receipts and notifications at this email address
		    </div>
		    <button class="w-full" disabled>continue</button>
		</form>
		<div class="result text-gray-500"></div>
	    </div>
	</div>

	<div id="get-shipping" class="card border bg-white p-6 m-4">
	    <div class="card-title text-lg font-bold py-2">
		<span class="text-lg font-bold">2. Shipping</span>
		<span class="float-right text-sm text-gray-500 hidden edit-button actionable">Edit</span>
	    </div>
	    <div class="card-body py-2 hidden font-sans">
		<form>
		    <div class="flex flex-row flex-wrap">
			{#
			{% if obShippingTypeList.isNotEmpty() %}
			<div class="form-control">
			    <select id="shipping-type">
				{% set obShippingType = Cart.getActiveShippingTypeFromRequest() %}
				{% if not obShippingType %}
				<option value="0" selected disabled><-- Select Shipping --></option>
				{% endif %}
				{% for item in obShippingTypeList %}
				<option value="{{ item.id }}" {{ item.id==obShippingType.id ? 'selected' : '' }}>{{ item.name }}</option>
				{% endfor %}
			    </select>
			</div>
			{% endif %}
			#}
			<div class="form-control w-full">
			    <input type="text" id="addressee" placeholder="Addressee, e.g. Harry Potter" required autocomplete="name">
			</div>
			<div class="form-control w-full">
			    <input type="text" id="street" placeholder="Street" required autocomplete="street-address">
			</div>
			<div class="form-control w-full">
			    <input type="text" id="city" placeholder="City" required autocomplete="address-level2">
			</div>
			<div class="form-control w-full">
			    <select id="state" autocomplete="address-level1">
				{% partial 'state_options' %}
			    </select>
			</div>
			<div class="form-control w-full">
			    <input type="text" id="zip" placeholder="ZIP Code" required autocomplete="postal-code">
			</div>
			<div class="form-control w-full">
			    <input type="tel" id="phone" placeholder="Phone Number" required autocomplete="tel">
			</div>
		    </div>
		    <button class="w-full" disabled>continue</button>
		</form>
		<div class="result text-gray-500"></div>
	    </div>
	</div>

	<div id="get-payment" class="card border bg-white p-6 m-4">
	    <div class="card-title text-lg font-bold py-2">
		<div>3. Payment</div>
	    </div>
	    <div class="card-body py-2 font-sans">
		<div class="flex flex-row flex-wrap">
		    <div id="paypal-button-container"></div>
		</div>
	    </div>

	</div>
    </div>


    <div class="w-full md:w-1/2 p-2">
	<div class="order-summary card border bg-white p-6 m-4">
	    <div class="card-title text-lg font-bold">
		<span class="text-lg font-bold">Order Summary</span>
		<span class="float-right text-sm text-blue-500"><a href="{{ 'cart'|page }}">Edit Cart</a></span>
	    </div>
	    <div class="card-body font-sans">
		{% partial 'basket/basket-item-summary' %}
	    </div>
	</div>
    </div>
</div>

{% put page_scripts %}
<script src="https://www.paypal.com/sdk/js?client-id=AWT7qPw5dl3PhxNTy3Up3E4AWpnwdxvTzrN7bZoE7ZIqS6Zn98xHG60MeInND-KsEgvp1F0QyM62__rC&currency=USD" data-sdk-integration-source="button-factory"></script>
{% endput %}
