title = "Old Home"
url = "/old-home"
layout = "default"
description = "Home page"
meta_title = "Tanline printing."
meta_description = "Tanline printing provides screen printing services for the greater Tucson area and beyond."
is_hidden = 0

[CategoryItem]
slug = "t-shirts"

[ProductList]
==
{% set obCategory = CategoryItem.get() %}
{% set obProductList = ProductList.get(obCategory) %}
{% if obProductList.isNotempty() %}
<h1 class="uppercase text-4xl text-center">Welcome to tanline printing!</h1>

<div class="project-container">
    {% for project in obProductList %}
    <div class="project">
	<div class="project-meta">
	    <h2 class=project-title">{{ project.name }}</h2>
	    <div class="project-description">{{ project.description }}</div>
	</div>
	<div class="image-list">
	    <div class="image">
		{% set image = project.preview_image %}
		<img src="{{ image.path }}" title="{{ image.title }}" alt="{{ image.description }}">
	    </div>
	</div>
    </div>
    {% endfor %}
</div>
{% endif %}